 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    
}
body{
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
input{
    border-radius: 20px;
}

.title h2{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 50px;
    font-size: 3rem;
    font-family: cursive;
    color: rgb(239, 116, 116);
}
.form{
    grid-area: form;
    
}
.info{
    grid-area: info;
    
}

.map{
    grid-area: map;
    
}

.contact{
    padding: 30px;
    background:#fff;
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    gap: 20px;
    margin-top: 70px;
    padding: 100px;
}
h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 5px;
    padding-bottom: 15px;
}
.formbox{
    position: relative;
    width: 100%;
}
.set1{
    display: flex;
    gap:20px;
    
}
.set2{
    display: flex;
    gap:20px;
}
.input-box{
    display: flex;
   flex-direction: column;
   margin-bottom: 10px;
   width: 50%;
}
.details{
    color: rgb(238, 107, 19);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}
.input-box input{
    padding: 7px;
    font-size: 1rem;
    border: 2px solid lightseagreen ;
    outline: none;
}
.input-box textarea{
    padding: 7px;
    font-size: 1rem;
    border: 2px solid lightseagreen ;
    outline: none;
    resize: none;
    min-height: 180px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.button input{
   font-weight: 700;
   color: #fff;
   background: linear-gradient(135deg, rgb(155, 89, 182), rgb(113, 183, 230));
   padding: 10px 50px;
   font-size: 1rem;
   border: 2px solid lightseagreen;
   outline: none;
   cursor: pointer;
   border-radius: 50px;
}
.button input:hover{
    background: linear-gradient(135deg, rgb(113, 183, 230), rgb(155, 89, 182));
}
.info{
    background: #0e3959;
}
.info h3{
    color: #fff;
}
 .infobox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.infobox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infobox div p{
    color: #fff;
    font-size: 1.1rem;
}
.info .infobox div a{
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
}
.social{
    margin-top: 40px;
    display: flex
}
.social li{
    list-style: none;
    margin-right: 15px;
}
.social li a{
    color: #fff;
    font-size: 2rem;
    color: #ccc;
}
.social li a :hover{
    color: rgb(108, 205, 235);
}
.map{
    padding: 0;
}
.map iframe{
    width: 100%;
    height:100%
}