body{
    margin: 0px;
}

ul{
    display: flex;
    margin: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    outline: none;
    color: black;
    display: inline;
    margin: 10px;
    float: left;
    color: white;
}

nav input{
    display: flex;
    float: right;
    margin-top: -35px;
    margin-right: 30px;
    outline: none;
    width: 200px;
    padding: 5px;
    border-radius: 20px;
}

nav{
    background-color: rgb(172, 101, 238);
}