body{
    margin: 0px;
}

/* navbar */

ul{
    display: flex;
    align-items: center;
    margin: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    outline: none;
    color: black;
    display: inline;
    margin: 10px;
    float: left;
    color: white;
    font-family: cursive;
}

nav{
    background-color: rgb(172, 101, 238);
}

.navbar img{
    height: 35px;
    width: 35px;
    margin: 0px;
    margin-left: -30px;
}

.reg{
    display: flex;
    margin-left: auto;
    margin-right: 30px;
}

.reg a{
    border: 1px solid white;
    padding: 8px;
}

.reg a:hover{
    border: 1px solid white;
    background-color: rgb(189, 140, 235);
    padding: 8px;
}
/* search bar */

.search_bar{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-radius: 50px;
}

.search_bar input{
    background-color: rgb(220, 209, 227);
    padding: 25px;
    width: 60%;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    outline: none;
    color: rgb(172, 101, 238);
}

.search_bar img{
    height: 40px;
    width: 40px;
}

.search_bar a{
    display: flex;
    align-items: center;
}